.fade-bottom-enter-active,
.fade-bottom-leave-active
    opacity 1
    transition all .3s ease-out
    transform-origin center bottom

.fade-bottom-enter,
.fade-bottom-leave,
.fade-bottom-leave-active
    opacity 0
    transform scaleY(0)

.fade-top-enter-active,
.fade-top-leave-active
    opacity 1
    transition all .3s ease-out
    transform-origin center top

.fade-top-enter,
.fade-top-leave,
.fade-top-leave-active
    opacity 0
    transform scaleY(0)



.scale-enter-active,
.scale-leave-active
    transition all .15s ease-in-out
    opacity 1
    transform scale(1)

.scale-enter
.scale-leave,
.scale-leave-active
    transform scale(0)
    opacity 0