brand-primary = #f15b28
brand-secondary = #42c98c
brand-success = #358aff
brand-info = #428bca
brand-warning = #f0ad4e
brand-danger = #d9534f
brand-default = #fff
brand-disabled = #eff2f7

old-brand-primary = #359FF8
old-brand-secondary = #3c3d42
old-brand-success = #358aff
old-brand-info = #428bca
old-brand-warning = #f0ad4e
old-brand-danger = #d9534f
old-brand-default = #ccc
old-brand-disabled = old-brand-default

font-size-base = 14px
font-size-large = font-size-base * 1.25
font-size-small = 12px

line-height-base = 20 / 14
line-height-large = 4 / 3
line-height-small = 1.5

font-color-primary = #333
font-color-secondary = #a5a5a5
font-color-disabled = #c0ccda

input-border-color = #eaeaea
input-disabled-bg-color = #eef1f6
input-bg-color = #fff

global-zindex = 1080