brand-primary = #ff9000
brand-secondary = #61d575
brand-success = #89ceff
brand-info = #428bca
brand-warning = #f0ad4e
brand-danger = #d9534f
brand-default = #fff
brand-disabled = #eff2f7

font-size-base = 14px
font-size-large = font-size-base * 1.25
font-size-small = 12px

line-height-base = 20 / 14
line-height-large = 4 / 3
line-height-small = 1.5

font-color-primary = #333
font-color-secondary = #a5a5a5
font-color-disabled = #c0ccda

input-border-color = #eaeaea
input-disabled-bg-color = #eef1f6
input-bg-color = #fff

global-zindex = 1080